@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');    

html, body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

pre, span, div, p, h1 {    
  background-color: transparent;    
}    
    
* {    
  text-align: center;    
  margin: 0px;    
  padding: 0px;    
  overflow: hidden;    
  background-color: black;    
  color: white;    
  font-family: 'Source Code Pro', monospace;    
}    
    
pre {    
  /* background: white; */    
}    

#particles-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#content-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

#content-container > * {
  pointer-events: auto;
}
    
.inline-container {    
  position: absolute;    
  bottom: 15%;    
  width: 470px;    
}    
    
.emoji {    
  height: 20px;    
  bottom:50%;    
  transform:translateY(0%);    
}    
    
#marquee {    
  display: inline-block;    
  width: 450px;    
}    
    
.title {    
  font-size: 25px;    
}    
    
.center {    
  position: absolute;    
  left: 50%;    
  top: 50%;    
  transform: translate(-50%, -50%);    
}    
    
.topbar {    
  top: 5%;    
}    
    
.centerbar {    
      
}    
    
.bottombar {    
  top: auto;    
  bottom: 5%;    
}

.typed-cursor {
  display: none;
}